{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "displayName": true }],
    [
      "import",
      {
        "libraryName": "react-use",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [["styled-components", { "displayName": false }]]
    }
  }
}
