{
  "presets": [[
    "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              "> 1%",
              "last 2 versions",
              "Firefox ESR",
              "ie >= 11"
            ]
          }
        }
      }
    ]],
  "plugins": [
    ["babel-plugin-styled-components"],
    ["inline-react-svg", {
      "svgo": {
        "plugins": [
          {
            "convertColors": {
              "currentColor": true
            }
          }
        ]
      }
    }],
    [
      "import", {
        "libraryName": "react-use",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      }
    ]
  ]
}
