.button {
  line-height: 1.5;
  user-select: none;
  position: relative;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  & svg {
    line-height: 1;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }

  &.size-large {
    padding: 12px 24px;
  }

  &.size-medium {
    padding: 8px 16px;
  }

  &.size-small {
    padding: 4px 12px;
  }

  &.variant-primary {
    background: $color-primary;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  &.variant-secondary {
    background: $color-secondary;
  }
}

.inner {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.start-icon {
  margin-right: 8px;
}

.end-icon {
  margin-left: 8px;
}

.button-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
