@mixin focus-ring($color) {
  box-shadow: 0 0 0 2px white, 0 0 0 4px $color, 0 0 #0000;
}

.button {
  line-height: 1;
  user-select: none;
  position: relative;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: none;

  & svg {
    line-height: 1;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}

.size {
  &--xsmall {
    padding: 0.375rem 0.625rem;
    font-size: 0.75rem;
  }
  &--small {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
  &--medium {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &--large {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  &--xlarge {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.variant {
  &--primary {
    background: $color-primary;
    border: 1px solid;
    border-color: transparent;
    color: white;
    font-weight: bold;
    &:hover {
      background: darken($color-primary, 10%);
    }
    &:focus {
      @include focus-ring($color-primary);
    }
  }

  &--secondary {
    background: $color-secondary;
    border: 1px solid;
    border-color: transparent;
    color: white;
    font-weight: bold;
    &:hover {
      background: darken($color-secondary, 10%);
    }
    &:focus {
      @include focus-ring($color-secondary);
    }
  }

  &--clear {
    padding: 0;
    background: transparent;
    &:focus {
      @include focus-ring(grey);
    }
  }
}

.shape {
  &--rounded {
    border-radius: 4px;
  }
  &--square {
    border-radius: 0px;
  }
  &--pill {
    border-radius: 9999px;
  }
}

.inner {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  &[data-loading] {
    visibility: hidden;
  }
}

.start {
  margin-right: 8px;
}

.end {
  margin-left: 8px;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
